<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Headaround{% endblock %}</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href = "custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="icon" href="{% static 'messenger/denglong.png'%}">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid" style="color: #d83e53">
    <div class="navbar-header dropdown">
        {% block title_left %}
        <a class="navbar-brand dropdown-toggle" data-toggle = "dropdown" href="#">Headaround
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Write to your friends!</a></li>
          <li><a href="#">Choose anonymous or not and add hints!</a></li>
          <li><a href="#">Choose recipient and hit send!</a></li>
        </ul>
      </a>
        {% endblock %}
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">{{user.username}}</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Notifications
        <span class="caret"></span></a>
          {% block notifications %}
          <ul class="dropdown-menu">
          <li><a href="jd-message.html">New message from Jacque D.</a></li>
          <li><a href="guess.html">New message from Anonymous</a></li>
        </ul>
          {% endblock %}
       </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Messages
        <span class="caret"></span></a>
            {% block message%}
          <ul class="dropdown-menu">
          <li><a href="jd-message.html">Jacque D.</a></li>
          <li><a href="#">Martin H.</a></li>
          <li><a href="#">Richard R.</a></li>
          <li><a href="#">Maurice M-P</a></li>
        </ul>
          {% endblock %}
       </li>

    </ul>
  </div>
</nav>

    {% if user.is_authenticated %}
        <span style="margin-left: 10px">Welcome, {{user.username}}!</span>
        <a href="{% url 'logout' %}">logout</a>
    {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
    {% endif %}
      <hr>
    <main>
      {% block content %}
      {% endblock %}
    </main>
</body>
</html>