{% extends 'messenger/base.html' %}
{% load static %}
<script type="text/javascript" src = "guess.js"></script>
      {% block title_left %}
        <a class="navbar-brand dropdown-toggle" data-toggle = "dropdown" href="#">Headaround
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Read message!</a></li>
          <li><a href="#">Read hints!</a></li>
          <li><a href="#">Guess who sent it!</a></li>
        </ul>
      </a>
        {% endblock%}
      {% block notifications %}
        <ul class="dropdown-menu">
          <li><a href="jd-message.html">New message from Jacque D.</a></li>
          <li><a href="#">New message from Anonymous</a></li>
        </ul>
      {% endblock %}

      {% block messages %}
        <ul class="dropdown-menu">
          <li><a href="jd-message.html">Jacque D.</a></li>
          <li><a href="#">Martin H.</a></li>
          <li><a href="#">Richard R.</a></li>
          <li><a href="#">Maurice M-P</a></li>
        </ul>
      {% endblock %}

{% block home%}
      <li class="active"><a href="{% url 'home'%}">Home</a></li>
{% endblock %}

{% block content %}
{% load static %}
<script type="text/javascript" href="{% static 'messenger/guess.js' %}"></script>
<div style="color:red">{{Display}}</div>
<div class="container" style="margin-left: 0 auto">
  <form method = "post">
      {% csrf_token %}
    <div class="form-group">
      <div class="chat-body1 clearfix" style="background-color: #f7d2e5 none repeat scroll 0 0;padding: 10px;">
            <p><label class="pull-left"></label> {{text}}</p>
      </div>
      <ul id = "hints">
        <span>Hint: </span>
        <li style="margin-top: 20px">{{Hint}}</li>
      </ul>

      <div class="form-group">
      	<label>Who sent this?</label>
  		<select name = "guess" class="form-control" id="recipient">
            {% for friend in Friends %}
    		<option value="{{friend.username}}" name="{{friend.username}}" id="{{friend.username}}">{{friend.username}}</option>
    		{% endfor %}
  		</select>
	  </div>

	  <button type="submit" class="btn btn-success col-lg-2 col-lg-offset-5" id = "guess">Guess</button>
    </div>
  </form>
</div>

{% endblock %}



