{% extends 'messenger/base.html' %}

{% block notifications %}
        <ul class="dropdown-menu">
            {% for message in Messages %}
          <li><a href="jd-message.html">New message from {{message.sender}}</a></li>
            {% endfor %}
        </ul>
{% endblock %}
{% block message %}
        <ul class="dropdown-menu">
            {% for friend in Friends %}
          <li><a href="jd-message.html">{{friend.username}}</a></li>
            {% endfor %}
        </ul>
{% endblock %}
{% block content %}
<div class="container" style="margin-left: 0 auto">
  <form method="post" action="/message/">
      {% csrf_token %}
    <div class="form-group">
      <textarea name="message" class="form-control col-lg-4 " rows = "7" id="userpost" placeholder = "Write something to turn someone's head around!" style="margin-top: 40px"></textarea>
      <div class = "form-group">
      	<button name="anonymous" value="send-anonymous" type="button" id = "anonymous" class="btn btn-danger col-lg-2 col-lg-offset-5" style="margin-top: 10px; margin-bottom: 10px">Anonymous</button>
      </div>
      <div class="form-group" id = "hints">
      	 <textarea name="hint1" class="form-control" rows = "1" placeholder = "Hint #1" style="margin-top: 20px"></textarea>
      	 <textarea name="hint2" class="form-control" rows = "1" placeholder = "Hint #2" style="margin-top: 5px"></textarea>
      	 <textarea name="hint3" class="form-control" rows="1" placeholder = "Hint #3" style="margin-top: 5px"></textarea>
      </div>

      <div class="form-group">
  		<select name="recipient" class="form-control" id="recipient">
            {% for friend in Friends %}
    		<option value="{{friend.username}}" name="{{friend.username}}" id="{{friend.username}}">{{friend.username}}</option>
    		{% endfor %}
  		</select>
	  </div>

	  <button type="submit" class="btn btn-success col-lg-2 col-lg-offset-5">Send</button>
    </div>
  </form>
</div>
{% endblock %}